<footer class="site-footer">

  <div class="container">

    <h2 class="row footer-heading">{{ site.title }}</h2>

    <div class="row">
      <div class="col-md-3 col-xs-6">
        <ul class="contact-list">
          <li>{{ site.author.name }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.author.email }}</a></li>
          <li></li>
          <li><a href="https://travis-ci.org/cptactionhank/cptactionhank.github.io"><img src="https://travis-ci.org/cptactionhank/cptactionhank.github.io.svg"></a></li>
        </ul>
      </div>

      <div class="col-md-3 col-xs-6">
        <ul class="fa-ul">
          {% if site.author.facebook %}
          <li>
            <a href="https://facebook.com/{{ site.author.facebook }}">
              <i class="fa fa-li fa-facebook-official"></i>{{ site.author.facebook }}
            </a>
          </li>
          {% endif %}
          {% if site.author.twitter %}
          <li>
            <a href="https://twitter.com/{{ site.author.twitter }}">
              <i class="fa fa-li fa-twitter"></i>{{ site.author.twitter }}
            </a>
          </li>
          {% endif %}
          {% if site.author.linkedin %}
          <li>
            <a href="https://linkedin.com/in/{{ site.author.linkedin }}">
              <i class="fa fa-li fa-linkedin"></i>{{ site.author.linkedin }}
            </a>
          </li>
          {% endif %}
          {% if site.author.github %}
          <li>
            <a href="https://github.com/{{ site.author.github }}">
              <i class="fa fa-li fa-github-alt"></i>{{ site.author.github }}
            </a>
          </li>
          {% endif %}
          {% if site.author.bitbucket %}
          <li>
            <a href="https://bitbucket.org/{{ site.author.bitbucket }}">
              <i class="fa fa-li fa-bitbucket"></i>{{ site.author.bitbucket }}
            </a>
          </li>
          {% endif %}
          {% if site.author.dockerhub %}
          <li>
            <a href="https://registry.hub.docker.com/u/{{ site.author.dockerhub }}">
              <i class="fa fa-li fa-docker"></i>{{ site.author.dockerhub }}
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-md-6 col-xs-12">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
