html {
	width: 100%;
	height: 100%;
}

#cover {

	width: 100%;
	height: 100%;

	#home {
		height:100% !important;
		width:100% !important;
	}

	#services { display: none; }

	h1, h2, h3, h4, h5, h6 {
		color:#444;
	}

	h1 {
		font-size:30px;
		line-height:30px;
		font-weight:300;
		text-transform:uppercase;
		letter-spacing:0.02em;
	}

	h1.section-title{
		position:relative;
		margin:0 0 124px;
		font-size:48px;
		line-height:64px;
		font-weight:300;
		text-align:center;
		color:#444;
		z-index:1;
	}

	.section-title span {
		font-size:150%;
		font-weight:400;
	}

	.section-title [class*=fa]{
		position:absolute;
		top:-28px;
		left:50%;
		margin-left:-60px;
		font-size:120px;
		color:#444;
		z-index:-1;
	}

	h2 {
		font-size:21px;
		line-height:24px;
		font-weight:bold;
		text-transform:uppercase;
	}

	p {
		font-size:18px;
		line-height:24px;
		font-weight:300;
		letter-spacing:0.01em;
		margin-bottom:20px;
	}

	a,
	a:hover,
	a:focus {
		outline:none !important;
		text-decoration:none;
	}

	a, 
	a:hover,
	a:focus {
		color: #fff;
		text-decoration: none;
	}

	a:focus,
	.btn:focus {
		outline: none;
	}

	/*----------------------
	-----Header Styles------
	------------------------*/

	.jumbotron {
		background:transparent;
		color:#444;
	}

	header.jumbotron {
		padding:0;
		margin-bottom:0;

		display: table;
	}

	.jumbotron .container {
		display: table-cell;
		vertical-align: middle;
	}

	.jumbotron .left-col,
	.jumbotron .right-col{
		float:left;
	}

	.jumbotron .message-box{
		width:84%;
		margin: 0 auto;
		// background:#fff;
		// background:rgba(255,255,255,0.9);
		padding:20px 0;

		border: solid 3px;
	}

	.jumbotron .left-col{
		width:35%;
		text-align:right;
	}

	.jumbotron .right-col{
		width:65%;
		text-align:left;
		overflow:hidden;
		border:none;
		box-shadow:none;
		background:transparent;
		margin:0;
		padding:0;
	}

	.jumbotron .left-col p{
		display:inline-block;
		margin:0;
		padding:18px 5px 12px 30px;
		font-size:38px;
		font-weight:300;
		line-height:48px;
	}

	.jumbotron .left-col p span{
		font-size:42px;
		font-weight:400;
	}

	.jumbotron .right-col p{
		display:inline-block;
		margin:0;
		padding:10px 30px 10px 5px;
		font-size:110px;
		line-height:110px;
		font-weight:900;
		text-transform:uppercase;
	}

	/*------------------------
	-----Services Styles------
	------------------------

	#services{
	    background:#fff;
	    color:#999;
	    padding:80px 0;
	}

	#services .row.line {
	    height:6px;
	    background:#444;
	    margin-bottom:24px;
	}

	#services .line .spot {
	    margin:-7px auto;
	    display:block;
	    width:20px;
	    height:20px;
	    background:#444;
	    border:5px solid #fff;
	    border-radius:50%;
	}

	.services .icon {
	    position:relative;
	    display:inline-block;
	    padding:0;
	    margin-bottom:24px;
	    width:160px;
	    height:160px;
	    text-align:center;
	    font-size:72px;
	    line-height:130px;
	    color:#ccc;
	    background:none;
	    border:10px solid #444;
	    border-radius:50%;
	    z-index:1;
	    -webkit-transition:color 0.2s ease-in;
	    transition:color 0.2s ease-in;
	}

	.no-opacity .services .icon {
	    color:#fff;
	}

	.services .icon:after {
	    pointer-events: none;
	    content:"";
	    position:absolute;
	    width:100%;
	    height:100%;
	    background:#444;
	    border-radius:50%;
	    border:2px solid #444;
	    -webkit-box-sizing: content-box;
	    -moz-box-sizing: content-box;
	    box-sizing: content-box;
	    top:-2px;
	    left:-2px;
	    z-index:-1;
	    -webkit-transform: scale(1.4);
	    -moz-transform: scale(1.4);
	    -ms-transform: scale(1.4);
	    transform: scale(1.4);
	    opacity: 0;
	    -webkit-transition: all 0.4s ease-out;
	    -moz-transition: all 0.4s ease-out;
	    transition: all 0.4s ease-out;
	}

	.services .icon:hover{
	    color:#fff;
	}

	.services .icon:hover:after {
	    -webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    transform: scale(1);
	    opacity: 1;
	    transition: all 0.4s ease-out;
	}

	.services .item {
	    margin-bottom:80px;
	}

	.services h2 {
	    margin:0;
	    margin-bottom:24px;
	    font-size:24px;
	    font-weight:400;
	}

	.services p {
	    margin:0;
	    margin-bottom:24px;
	}


	.services.bottom-row p {
	    margin-top:48px;
	}

	/*----------------------
	-----Footer Styles-----
	------------------------*/

	footer {
		color:#fff;
		background:#444;
		padding:30px 0;
	}

	footer * {
		color:#fff;
	}

	footer .small-logo {
		padding:0;
		margin:0;
		margin-bottom:24px;
		font-size:24px;
		line-height:24px;
		font-weight:normal;
		/*color:#444;*/
	}

	footer .small-logo span {
		padding:0;
		font-size:18px;
		line-height:24px;
		font-weight:300;
		text-transform:none;
	}


	footer ul.footer-nav {
		list-style:none;
		padding:0;
		margin:0;
		margin-bottom:24px;
	}

	footer ul.footer-nav li{
		display:inline-block;
		padding:0 15px;
		line-height:24px;
		border-right:1px solid #444;
	}

	footer ul.footer-nav li:first-child{
		padding-left:0;
	}

	footer ul.footer-nav li:last-child{
		border-right:none;
	}

	footer ul.footer-nav li a{
		/*color:#444;*/
		text-decoration:none;
		font-size:14px;
		line-height:24px;
		font-weight:400;
		text-transform:uppercase;
		letter-spacing:0.02em;
		padding:0;
		-webkit-transition:color 0.2s ease-out;
		transition:color 0.2s ease-out;
	}

	footer ul.footer-nav li a:hover,
	footer ul.footer-nav li a:active{
		/*color:#65c3aa;*/
		text-decoration:none;
	}

	footer p{
		/*color:#444;*/
		font-size:14px;
		line-height:24px;
		font-weight:400;
	}

	footer .right-col{
		text-align:right;
	}

	footer .right-col h2{
		text-transform:none;
		font-size:18px;
		line-height:24px;
		font-weight:700;
		margin:0 0 24px;
	}

	footer .right-col p{
		font-size:15px;
		line-height:24px;
		font-weight:300;
	}




	/*-----------------------
	------Media Queries------
	------------------------*/

	@media (max-width: 1199px) {

		.jumbotron .left-col p{
			font-size:28px;
			line-height:32px;
		}

		.jumbotron .left-col p span{
			font-size:36px;
		}

		.jumbotron .right-col p{
			font-size:82px;
			line-height:82px;
		}

	}

	@media (max-width: 991px) {

		.jumbotron .message-box{
			padding:10px 0;
		}

		.jumbotron .left-col {
			width:100%;
			text-align:center;
		}

		.jumbotron .left-col p{
			padding:10px;
		}

		.jumbotron .right-col{
			width:100%;
			text-align:center;
		}

		.jumbotron .right-col p{
			padding:10px;
		}

	}

	@media (max-width: 768px) {

		.jumbotron .left-col p{
			font-size:24px;
			line-height:28px;
		}

		.jumbotron .left-col p span{
			font-size:32px;
		}

		.jumbotron .right-col p{
			font-size:62px;
			line-height:62px;
		}

		footer ul.footer-nav{
			margin-bottom:24px;
		}

		footer .left-col,
		footer .right-col{
			text-align:center;
		}

		.modal-dialog{
			max-width:480px;
		}

		.modal-body .left-col,
		.modal-body .right-col{
			width:100%;
		}

		h1.section-title{
			font-size:42px;
			line-height:56px;
		}

	}

	@media (max-width: 479px) {

		.jumbotron .right-col p{
			font-size:38px;
			line-height:38px;
		}

		h1.section-title{
			font-size:32px;
			line-height:46px;
		}


		p {
			font-size:16px;
			line-height:21px;
		}

		.btn-theme{
			padding:15px 40px;
			font-size:18px;
		}

		#about h1 {
			font-size:28px;
			line-height:36px;
		}

		#about p {
			font-size:21px;
			line-height:28px;
		}


		#filter-works ul li a{
			font-size:21px;
			line-height:28px;
		}

		#contact .contact-info p,
		#contact .contact-info address{
			font-size:16px;
			line-height:26px;
		}


		#contact .form-control {
			height:58px;
			font-size:24px;
			line-height:30px;
		}

		#contact .form-group [class*="icon-"] {
			font-size:32px;
			line-height:58px;

		}

		#contact textarea.form-control {
			font-size:24px;
			line-height:32px;
			padding-top:14px;
		}

	}

}